# LAB | Intro to Machine Learning

**Load the data**

In this challenge, we will be working with Spaceship Titanic data. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [61]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [16]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [19]:
#your code here
spaceship.shape

(8693, 14)

**Check for data types**

In [22]:
#your code here
spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [25]:
#your code here
spaceship.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [28]:
#your code here
spaceship_clean=spaceship.dropna()

In [30]:
spaceship_clean.reset_index(drop=True, inplace=True)

In [32]:
spaceship_clean.shape

(6606, 14)

**KNN**

K Nearest Neighbors is a distance based algorithm, and requeries all **input data to be numerical.**

Let's only select numerical columns as our features.

In [36]:
#your code here
numerical_features = spaceship_clean.select_dtypes(include=['number'])

print(numerical_features.head())

    Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0  39.0          0.0        0.0           0.0     0.0     0.0
1  24.0        109.0        9.0          25.0   549.0    44.0
2  58.0         43.0     3576.0           0.0  6715.0    49.0
3  33.0          0.0     1283.0         371.0  3329.0   193.0
4  16.0        303.0       70.0         151.0   565.0     2.0

In [38]:
numerical_features.shape

(6606, 6)

And also lets define our target.

In [41]:
target_column = 'VRDeck'  # Replace with the actual target column name
y = numerical_features[target_column]
features = numerical_features.drop(columns = ['VRDeck'])
# Display the first few values of the target
print(y.head())

0      0.0
1     44.0
2     49.0
3    193.0
4      2.0
Name: VRDeck, dtype: float64

**Train Test Split**

Now that we have split the data into **features** and **target** variables and imported the **train_test_split** function, split X and y into X_train, X_test, y_train, and y_test. 80% of the data should be in the training set and 20% in the test set.

In [45]:
#your code here
X_train, X_test, y_train, y_test = train_test_split(features, y, test_size=0.2, random_state=42)

In [47]:
X_train.head()

       Age  RoomService  FoodCourt  ShoppingMall     Spa
5936  25.0          0.0     1673.0           0.0   642.0
4416  36.0          0.0     2624.0        1657.0  2799.0
2948  34.0          0.0        0.0           0.0     0.0
3085  37.0          0.0        0.0           0.0     0.0
5819  22.0          0.0        0.0           0.0     0.0

In [49]:
y_train.head()

5936    612.0
4416      1.0
2948      0.0
3085      0.0
5819      0.0
Name: VRDeck, dtype: float64

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

You need to choose between **Classificator** or **Regressor**. Take into consideration target variable to decide.

Initialize a KNN instance without setting any hyperparameter.

In [54]:
#your code here
knn = KNeighborsClassifier()
print(knn)

KNeighborsClassifier()

Fit the model to your data.

In [57]:
# Separate features and target variable
X = spaceship.drop(['Transported'], axis=1)
y = spaceship['Transported']

# Preprocess the features:
# Convert categorical variables to numerical using one-hot encoding
X = pd.get_dummies(X)

# Handle missing values by imputing with the median
imputer = SimpleImputer(strategy='median')
X = imputer.fit_transform(X)

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the data to make the scale uniform
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Fit the KNN model
knn.fit(X_train, y_train)

# Output the model to confirm fitting
print("KNN Model has been fit to the data.")

KNN Model has been fit to the data.

Evaluate your model.

In [65]:

# Predict on the test set
y_pred = knn.predict(X_test)

# Evaluate metrics
accuracy = accuracy_score(y_test, y_pred)
unique_preds = np.unique(y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

# Print metrics
print(f"Accuracy: {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1 Score: {f1:.2f}")
print("Confusion Matrix:")
print(conf_matrix)

Accuracy: 0.50
Precision: 0.00
Recall: 0.00
F1 Score: 0.00
Confusion Matrix:
[[861   0]
 [878   0]]

**Congratulations, you have just developed your first Machine Learning model!**